<%= form_with(model: @task, local: true, url:choose_new_or_edit) do |form| %>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="task_title">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="task_limit_on">
  <%= form.label :limit_on, "期限" %>
  <%= raw sprintf(
              form.date_select(
                  :limit_on,
                  use_month_numbers: true,
                  start_year:        2020,
                  end_year:          (Time.now.year + 20),
                  default:           Date.new(2020, 1, 1),
                  date_separator:    '%s'), # 年月日区切りをそれぞれ指定
              '年 ', '月 ') + '日'
   %>
</div>

<div class="status">
  <%= form.label :status, "ステータス" %>
  <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
</div>
<div class="priority">
  <%= form.label :priority, "優先順位" %>
  <%= form.select :priority, [["低", "低"], ["中", "中"], ["高", "高"]], include_blank: "選択して下さい" %>
</div>

<div class="field">
  <%= form.label :title, "ラベル" %>
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :title) %>
</div>

<div class="submit">
  <%= form.submit "登録する", class:"button" %>
</div>

<% end %>
<%= link_to "一覧画面にもどる", tasks_path, class: "btn btn-primary btn-lg" %>
